[Unit]
Description=Create JuNest image

[Service]
ExecStart=/usr/bin/sh -c 'git pull origin master && /home/builder/build_image.sh'
Type=simple

[Install]
WantedBy=default.target

